// variable colors
$main-background-color: #e5e5e5;
$card-boxShadow-color: 0px 12px 24px rgba(18, 38, 63, 0.05);
$card-header-bgColor: rgba(85, 110, 230, 0.25);
$card-header-color: #556ee6;
$main-white-color: #fff;
$input-color:#495057;
$font-type: "Poppins", sans-serif;
$login-border-color: 1px solid #ced4da;
// variable colors